* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 30px;
    max-width: 400px;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.center {
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
    background: #ff477e;
    color: white;
}

button:hover {
    opacity: 0.9;
}

